
.addForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 40vw;
    height: 100vh;

    & > * {
        margin-bottom: 20px;
    }

    & > button {
        margin-top: 20px;
        padding: 10px 20px;
        background-color: #242424;
        color: rgba(255, 255, 255, 0.87);
        border: 1px solid rgba(255, 255, 255, 0.87);
        font-size: 1.2rem;
        cursor: pointer;
        &:hover {
            background-color: rgba(255, 255, 255, 0.87);
            color: #242424;
        }
    }

     & > label {
         color: rgba(255, 255, 255, 0.87);
     }

    & > input {
        background-color: #242424;
        color: rgba(255, 255, 255, 0.87);
        border: 1px solid rgba(255, 255, 255, 0.87);
        padding: 10px;
        font-size: 1.2rem;
        width: 100%;
    }

}